* {
    margin: 0;
    padding: 0;
}

body {
    overflow: scroll;
    white-space: nowrap;
}

.trackset {
    display: table;
}

div.track {
    display: table-row;
}

.track-entry {
    padding-left: 0.6em;
    padding-right: 0.6em;
    display: table-cell;
    text-align: center;
}


.track .track-entry:nth-of-type(odd) {
    background-color: #eee;
}

.chromatogram > .track-entry {
    height: 4em;
    padding: 0;
}

.track-entry > .svg-container {
    width: 100%;
    height: 100%;
    font-size: 0;
}

.integer {
    font-size: 70%;
    color: #666;
    line-height: 143%;
}

.track-name {
    position: fixed;
    vertical-align: middle;
    left: 0;
    text-align: right;
    white-space: wrap;
    overflow: wrap;
}



