* {
    margin: 0;
    padding: 0;
}

.scrolling-container {
    overflow: scroll;
    white-space: nowrap;
}

.trackset-rows {
    display: table;
}


.label-column {
    float: left;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.2em solid black;
}


.label-column div {
    display: block;
    font-family: Optima, Myriad, sans-serif;
    vertical-align: middle;
    color: white;
    border-top: 1px solid #eee;
    background-image: url('concrete_wall.png');
    padding-right: 0.1em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: 0.6em;
    text-align: right;
}

.label-column div span {
    font-size: 0.6em;
}

.label-column div:first-child {
    border-top: none;
}

.chromatogram-label {
    height: 3.6em !important;
}

.chromatogram-label span {
    height: 6em !important;
    line-height: 6em;
}

.trackset {
    width: 100%;
    max-width: 100%;
}

div.track {
    display: table-row;
}

.track-entry {
    padding-left: 0.6em;
    padding-right: 0.6em;
    display: table-cell;
    text-align: center;
}


.track .track-entry:nth-of-type(odd) {
    background-color: #eee;
}

.chromatogram > .track-entry {
    height: 4em;
    padding: 0;
}

.track-entry > .svg-container {
    width: 100%;
    height: 100%;
    font-size: 0;
}

.integer {
    font-size: 70%;
    color: #666;
    line-height: 143%;
}

.track-name {
    position: fixed;
    vertical-align: middle;
    left: 0;
    text-align: right;
    white-space: wrap;
    overflow: wrap;
}



